<p>
  Welcome
    <%= @user.personal_first_name %> <%= @user.personal_last_name %>
</p>
<%= link_to "Edit Your Profile", edit_student_path(@user) %>
<%= link_to "Delete Your Profile", student_path(@user),
      :confirm => "Are you sure you want to delete your profile?",
      :method => :delete, class: "button alert small" %>
<h2>
  Mentor Profiles
</h2>
<table>
  <tr>
    <td>Mentor Name</td>
    <td>Company</td>
  </tr>
  <% @mentors.each do |mentor| %>
    <tr>
      <td>
        <%= link_to "#{mentor.personal_first_name} #{mentor.personal_last_name}", mentor_path(mentor) %></td>
      <td>
        <%= mentor.career_company_private %>
        </td>
    </tr>
  <% end %>
</table>
