<%= link_to "Pair!", "/pair" %>
<%= link_to "Notifications", notifications_path %>
<h2>Mentor Match Home</h2>
<p>Welcome <%= current_user.email %></p>
<div>
	<h3>Students that still need mentors</h3>
		<% if @studentnomentors.blank? %>
			<p>Hurray! All Students are Matched</p>
		<% else %>
			<table>
				<tr>
					<td>Students</td>
					<td>Class</td>
				</tr>
				<% @studentnomentors.each do |student| %>
					<tr>
						<td>
							<%= link_to "#{student.personal_first_name} #{student.personal_last_name}", student_path(student) %></td>
						<td>
							<%= case student.cf_class
										when "rails2"
											"Ruby on Rails June 2013"
										when "rails3"
											"Ruby on Rails July/August 2013"
									end %>
							</td>
					</tr>
				<% end %>
			</table>
		<% end %>
</div>
<div>
	<h3>Mentors that still need mentees</h3>
	<% if @mentornostudents.blank? %>
		<p>Hurray!  All Mentors are Matched!</p>
	<% else %>
		<table>
			<tr>
				<td>Mentors</td>
				<td>Companies</td>
			</tr>
			<% @mentornostudents.each do |mentor| %>
				<tr>
					<td>
						<%= link_to "#{mentor.personal_first_name} #{mentor.personal_last_name}", mentor_path(mentor) %></td>
					<td>
						<%= mentor.career_company_private %></td>
				</tr>
			<% end %>
		</table>
	<% end %>
</div>
<div>
	<h3>All Students</h3>
	<% if @studentsall.blank? %>
		<p>No Questionnaires Finished</p>
	<% else %>
		<table>
			<tr>
				<td>Name</td>
				<td>Mentor</td>
				<td>Questionnaire</td>
			</tr>
			<% @studentsall.each do |student| %>
				<tr>
					<td>
						<%= "#{student.personal_first_name} #{student.personal_last_name}" %></td>
					<td>
						<%= student.mentor.try(:personal_first_name) %> <%= student.mentor.try(:personal_last_name) %>
						<%= '-' if student.mentor.blank? %></td>
					<td>
						<%= link_to "View", student_path(student) %> /
						<%= link_to "Edit", edit_student_path(student) %> /
						<%= link_to "Delete", student,
							:confirm => "Are you sure you want to delete #{student.personal_first_name} #{student.personal_last_name}",
							:method => :delete %></td>
				</tr>
			<% end %>
		</table>
	<% end %>
</div>
<div>
	<h3>All Mentors</h3>
	<% if @mentorsall.blank? %>
		<p>No Mentor Profiles</p>
		</table>
	<% else %>
		<table>
			<tr>
				<td>Mentors</td>
				<td>Students</td>
				<td>Profiles</td>
			</tr>
			<% @mentorsall.each do |mentor| %>
				<tr>
					<td>
						<%= "#{mentor.personal_first_name} #{mentor.personal_last_name}" %></td>
					<td>
							<% mentor.students.each do |student| %>
								<%= student.personal_first_name + ' ' + student.personal_last_name %>
							<% end %>
							<%= "-" if mentor.students.blank? %></td>
					<td>
						<%= link_to "View", mentor_path(mentor) %> /
						<%= link_to "Edit", edit_mentor_path(mentor) %> /
						<%= link_to "Delete", mentor,
							:confirm => "Are you sure you want to delete #{mentor.personal_first_name} #{mentor.personal_last_name}",
							:method => :delete %></td>
				</tr>
			<% end %>
	<% end %>
</div>
