<div id="mentorsDiv">
  <% if @user.mentor %>
    <h2 class="subheader">
      Your Mentor
    </h2>
      <ul class="mentorLinks">
        <li>
          <%= link_to "#{@mentor.personal_first_name.capitalize} #{@mentor.personal_last_name.capitalize}", mentor_path(@mentor), class: "match", remote: true %>
        </li>
      </ul>
  <% end %>
  <h2 class="subheader">
    Your Current Mentor Rankings
  </h2>
  <div id="rankingsDiv">
    <% if @rankings.present? %>
      <ol id="studentranks">
        <% @rankings.each do |rank| %>
          <%=  render rank %>
        <% end %>
      </ol>
    <% else %>
      <p class="emptyStudents">
        No current mentors
      </p>
    <% end %>
  </div>
  <h2 class="subheader">
    View Mentor Profiles
  </h2>
  <div id="filter">
    <a href="#" id="filterShow">V</a>
    <%= link_to "View All Mentors", {controller: "students", action: "index", sort: "all"}, remote: true, class: "filterMentors filterMentorsSelected" %>
    <div id="filterMentorsCompany">
      <% @companies.each do |company| %>
          <%= link_to "From #{company.capitalize}", {controller: "students", action: "index", sort: company }, remote: true, class: "filterMentors" %>
      <% end %>
    </div>
    <br />
  </div>
  <div id="mentorsLinksDiv">
      <% if @mentors.present? %>
        <ul class="mentorLinks">
          <% @mentors.each do |mentor| %>
            <% @mentor = mentor %>
            <%= render "mentorlink", :locals =>{post: @mentor} %>
          <% end %>
        </ul>
      <% else %>
        <p>
          No mentors available
        </p>
      <% end %>
  </div>
</div>
<div id="showcase">
</div>
