<table>
	<tr>
		<td>Students</td>
		<td>Mentors</td>
		<td>Class</td>
		<td>Notify?</td>
	</tr>
		<% @students.each do |student| %>
		<%= form_for student do |f| %>
				<tr>
					<td>
						<%= link_to "#{student.personal_first_name} #{student.personal_last_name}", student_path(student) %></td>
					<td>
						<% mentors_array = Mentor.all.map{|mentor|
								["#{mentor.personal_first_name} #{mentor.personal_last_name}", mentor.id]}

							mentors_array.unshift(["Please, select a mentor", "remove"]) %>
						<%= f.select :mentor_id,
									options_for_select(mentors_array, student.mentor.try(:id)),
									{id: "mentor_#{student.id}"} %>
					</td>
					<td>
						<%= case student.cf_class
									when "rails2"
										"Ruby on Rails May/June 2013"
									when "rails3"
										"Ruby on Rails July/August 2013"
								end %>
					</td>
					<td>
						<%= f.check_box :id %>
					</td>
				</tr>
				<tr>
					<td><%= f.submit "Pair", class: "button alert round small" %>
				</tr>
		<% end %>
	<% end %>
</table>

<h2>Mentors that still need Mentees</h2>
<table>
	<tr>
		<td>Mentor Name</td>
		<td>Company</td>
	</tr>
	<% @mentornostudents.each do |mentor| %>
		<tr>
			<td>
				<%= mentor.personal_first_name %>
				<%= mentor.personal_last_name %>
			</td>
			<td><%= mentor.career_company_private %></td>
		</tr>
	<% end %>
</table>

