<%= link_to "Edit", edit_student_path(@student) %>
<%= link_to "Delete", @student, :confirm => "Are you sure you want to delete #{@student.personal_first_name} #{@student.personal_last_name}", :method => :delete %>
	<div>
		Class <%= @student.cf_class %>
	</div>
	<table>
		<tr>
			<td colspan="2">
				<%= @student.personal_first_name || '-' %>
				<%= @student.personal_last_name  || '-' %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= @student.personal_where_you_from  || '-' %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Did you attend a university?
				</h3>
			</td>
			<td><%= @student.experience_university == "y" ? "Yes" : "No" %></td>
		</tr>
		<tr>
			<td colspan="2">
				<h3>
					What degree did you receive?
				</h3>
			</td>
		</tr>
			<td colspan="2">
				<%= @student.experience_degree || '-'  %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<h3>
					Any other degree or college experience?
				</h3>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= @student.experience_other_degree  || '-' %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<h3>
					What is your current job/role?
				</h3>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= @student.experience_job || '-'  %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<h3>
					Why are you attending Code Fellows?
				</h3>
			</td>
		</tr>
		<tr>
			<td>
				<%= @student.experience_why_codefellows || '-'  %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<h3>
					A project you are proud of:
				</h3>
					What was the project<br>
					How was it challenging<br>
					What made you proud of it<br>
					What did you learn from it<br></td>
		</tr>
		<tr>
			<td>
				<%= @student.experience_project  || '-' %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					How would you classify your developer skills?
				</h3>
			</td>
			<td>
				<%= @student.skills_developer  || '-' %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					How familiar are you with Object Oriented Programming?
				</h3>
			</td>
			<td>
				<%= @student.skills_object  || '-' %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<h2>
					What is your experience with the following languages/Frameworks?
				</h2>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					html/CSS/xml
				</h3>
			</td>
			<td>
				<%= @student.skills_html_css  || '-' %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					javascript
				</h3>
			</td>
			<td>
				<%= @student.skills_javascript  || '-' %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					java
				</h3>
			</td>
			<td>
				<%= @student.skills_java || '-'  %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					C++
				</h3>
			</td>
			<td>
				<%= @student.skills_cplusplus || '-'  %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					C
				</h3>
			</td>
			<td>
				<%= @student.skills_c || '-' %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Ruby
				</h3>
			</td>
			<td><%= @student.skills_ruby || '-' %></td>
		</tr>
		<tr>
			<td>
				<h3>
					python
				</h3>
			</td>
			<td><%= @student.skills_python || '-' %></td>
		</tr>
		<tr>
			<td>
				<h3>
					php
				</h3>
			</td>
			<td><%= @student.skills_php || '-' %></td>
		</tr>
		<tr>
			<td>
				<h3>
					.net
				</h3>
			</td>
			<td><%= @student.skills_net || '-' %></td>
		</tr>
		<tr>
			<td>
				<h3>
					coffeescript
				</h3>
			</td>
			<td><%= @student.skills_coffeescript || '-' %></td>
		</tr>
		<tr>
			<td>
				<h3>
					Other Coding Skills
				</h3>
			</td>
			<td><%= @student.skills_other_coding || '-' %></td>
		</tr>
		<tr>
			<td>
				<h3>
					Are you comfortable with "selling yourself" or your idea?
				</h3>
			</td>
			<td>
				<%= @student.skills_selling_yourself == "y" ? "Yes" : "No" %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>How familiar are you with the development process (design, dev, test, deploy)?</h3>
			</td>
			<td><%= @student.skills_development_familiarity || '-' %></td>
		</tr>
		<tr>
			<td>
				<h3>
					Have you used agile development or a different development process?
				</h3>
			</td>
			<td>
				<%= @student.skills_agile_development_experience == "y" ? "Yes" : "No" %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Are you self-taught(books, tutorials, short classes)?
				</h3>
			</td>
			<td>
				<%= @student.learning_self_taught == "y" ? "Yes" : "No" %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Do you learn better by reading a book or being in a class
				</h3>
			</td>
			<td>
				<%= @student.learning == "books" ? "Books" : "Classes" %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Do you like working in groups or on your own?
				</h3>
			</td>
			<td>
				<%= @student.learning_preference == "groups" ? "Groups" : "On My Own" %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<h2>
					Please add anything else that you feel would help match you with a mentor
				</h2>
			</td>
		</tr>
		<tr>
			<td colspan="2"><%= @student.learning_extra_information || '-' %></td>
		</tr>
		<tr>
			<td colspan="2">
				<h2>
					Seeking in a Mentor
				</h2>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Career Advice
				</h3>
			</td>
			<td>
				<%= @student.mentor_career_advice || '-' %>
			</td>
		</tr>
			<td>
				<h3>
					Developer Skill Development
				</h3>
			</td>
			<td>
				<%= @student.mentor_skill_development || '-' %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Assistance with Coding Question/tactics
				</h3>
			</td>
			<td>
				<%= @student.mentor_coding_question_tactics || '-' %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Soft Skills(presentation, leading teams, etc.)
				</h3>
			</td>
			<td>
				<%= @student.mentor_soft_skills || '-' %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Interviewing coaching
				</h3>
			</td>
			<td>
				<%= @student.mentor_interview_coaching || '-' %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Job Search
				</h3>
			</td>
			<td>
				<%= @student.mentor_job_search || '-' %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Resume Development
				</h3>
			</td>
			<td>
				<%= @student.mentor_resume_development || '-' %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Github Account Development
				</h3>
			</td>
			<td>
				<%= @student.mentor_github_account_development || '-' %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Assistance with Selling yourself or an idea
				</h3>
			</td>
			<td>
				<%= @student.mentor_selling_idea || '-' %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Are you seeking a mentor that is working at a:
				</h3>
			</td>
			<td><%= case @student.mentor_company_type
							 when "startup"
							 	"Startup"
							 when "largeco"
							 	"Larger Company"
							 when "self"
							 	"Self Employed"
							 else
							 	"No Preference"
							 end %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Do you prefer a:
				</h3>
			</td>
			<td>
				<%= case @student.mentor_gender
							when "m"
								"Male"
							when "f"
								"Female"
							else
							 "No Preference"
							end %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<h3>
					Feel free to add anything else here:
				</h3>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= @student.mentor_extra_info || '-' %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Do you want to work at a:
				</h3>
			</td>
			<td><%= case @student.goals_company_type
							 when "startup"
							 	"Startup"
							 when "largeco"
							 	"Larger Company"
							 when "self"
							 	"Self Employed"
							 else
							 	"No Preference"
							 end %></td>
		</tr>
		<tr>
			<td colspan="2">
				<h3>
					After you leave Code Fellows, you'd like to:
				</h3>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= @student.goals_after_codefellows || '-' %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<h3>
					What is your dream job title immediately following CodeFellows?
				</h3>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= @student.goals_dream_job_title || '-' %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<h3>
					What companies are you most interested in working for?
				</h3>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= @student.goals_companies || '-' %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<h3>
					What do you want to do in the next year?
				</h3>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= @student.goals_next_year || '-' %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<h3>
					Where do you want to be in the next four years?
				</h3>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= @student.goal_next_4_years || '-' %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Do you intend to stay in Seattle after the class completes?
				</h3>
			</td>
			<td>
				<%= @student.goals_stay_seattle == "y" ? "Yes" : "No" %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Please add your LinkedIn account or Resume
				</h3>
			</td>
			<td>
				<%= @student.linked_in || '-' %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<h3>
					Please add any other details or information about yourself you feel would be useful to a mentor
				</h3>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= @student.goals_extra_info || '-' %>
			</td>
		</tr>
	</table>