<%= form_for @notification do |f| %>
	<% mentors = Mentor.all %>
	<% students = Student.all %>
	<table>
		<tr>
			<td colspan="2">Notify who?</td>
		</tr>
		<tr>
			<td>
				<% unless mentors.empty? %>
						<b>Mentors</b>
						<%	mentors.each do |mentor| %>
							<%= check_box_tag "mentor_ids[]",
								mentor.id,
								checked = false %>
							<%= mentor.personal_first_name %>
							<%= mentor.personal_last_name %>
						<% 	end
						end %>
				<% unless students.empty? %>
						<b>Students</b>
						<% students.each do |student| %>
							<%= check_box_tag "student_ids[]",
								student.id,
								checked = false %>
							<%= student.personal_first_name %>
							<%= student.personal_last_name %>
						<% end
						end %>
			</td>
		</tr>
		<tr>
			<td>Subject</td>
		</tr>
		<tr>
			<td>
				<%= f.text_field :subject, {id: "subject"} %>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.text_area :message, {id: "message"} %>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.submit "Notify" %>
			</td>
		</tr>
	</table>
<% end %>