<p>
  Welcome
    <%= @user.personal_first_name %> <%= @user.personal_last_name %>
</p>
<h2>
  Student Profiles
</h2>
<%= link_to "Delete Your Profile", mentor_path(@user),
      :confirm => "Are you sure you want to delete your profile?",
      :method => :delete, class: "button alert small" %>
<table>
  <tr>
    <td>Student Name</td>
    <td>Class</td>
  </tr>
  <% @students.each do |student| %>
    <tr>
      <td>
        <%= link_to "#{student.personal_first_name} #{student.personal_last_name}", student_path(student) %></td>
      <td>
        <%= case student.cf_class
              when "rails2"
                "Ruby on Rails June 2013"
              when "rails3"
                "Ruby on Rails July/August 2013"
            end %>
        </td>
    </tr>
  <% end %>
</table>
