Here is your list of rankings
<% if @rankings.present? %>
  <ul id="ranks">
    <% @rankings.each do |rank| %>
      <li class="panel" id="<%= rank.id %>" name="<%= rank.rank %>">
        <%= rank.rank %>.
        <%= rank.student.personal_first_name %>
        <%= rank.student.personal_last_name %>
      </li>
    <% end %>
  </ul>
<% end %>